<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- 啟用目錄瀏覽，顯示指定的欄位 -->
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <staticContent>
      <remove fileExtension=".md" />
      <mimeMap fileExtension=".md" mimeType="text/markdown; charset=utf-8; variant=GFM" />
    </staticContent>
<rewrite>
  <rules>
    <rule name="MarkdownReader" stopProcessing="true">
      <match url=".*\.md$" />
      <conditions>
        <add input="{QUERY_STRING}" pattern="raw=1" negate="true" />
        <add input="{URL}" pattern="MarkdownView/" negate="true" />
      </conditions>
      <action type="Redirect" url="/MarkdownView/index.html?file={REQUEST_URI}" appendQueryString="false" />
    </rule>
  </rules>
</rewrite>
  </system.webServer>
</configuration>