<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- 啟用目錄瀏覽，顯示指定的欄位 -->
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <staticContent>
      <remove fileExtension=".md" />
      <remove fileExtension=".markdown" />
      <remove fileExtension=".mdown" />
      <remove fileExtension=".mkd" />
      <remove fileExtension=".mkdn" />
      <remove fileExtension=".mdwn" />
      <remove fileExtension=".mdtxt" />
      <remove fileExtension=".mdtext" />
      <mimeMap fileExtension=".md" mimeType="text/markdown; charset=utf-8; variant=GFM" />
      <mimeMap fileExtension=".markdown" mimeType="text/markdown; charset=utf-8; variant=GFM" />
      <mimeMap fileExtension=".mdown" mimeType="text/markdown; charset=utf-8; variant=GFM" />
      <mimeMap fileExtension=".mkd" mimeType="text/markdown; charset=utf-8; variant=GFM" />
      <mimeMap fileExtension=".mkdn" mimeType="text/markdown; charset=utf-8; variant=GFM" />
      <mimeMap fileExtension=".mdwn" mimeType="text/markdown; charset=utf-8; variant=GFM" />
      <mimeMap fileExtension=".mdtxt" mimeType="text/markdown; charset=utf-8; variant=GFM" />
      <mimeMap fileExtension=".mdtext" mimeType="text/markdown; charset=utf-8; variant=GFM" />
    </staticContent>
<rewrite>
  <rules>
    <rule name="MarkdownReader" stopProcessing="true">
      <match url=".*" />
      <conditions>
        <add input="{QUERY_STRING}" pattern="(^|&)raw=1(&|$)" negate="true" />
        <add input="{ToLower:{URL}}" pattern="markdownview/" negate="true" />
        <add input="{ToLower:{URL}}" pattern="\.(md|markdown|mdown|mkd|mkdn|mdwn|mdtxt|mdtext)$" />
      </conditions>
      <action type="Redirect" url="/MarkdownView/index.html?file={REQUEST_URI}" appendQueryString="false" />
    </rule>
  </rules>
</rewrite>
  </system.webServer>
</configuration>